@media (min-width: 992px) and (max-width: 1199px){

.cover-container h1{
    font-size: 3rem;
    margin: 0 0 0 5rem;
}

.description-container p {
    margin-left: 10rem;
    margin-right: 10rem;
    
}

.description-container-performance{
    grid-template-columns: repeat(2,1fr);
    font-size: 1.4rem;  
    margin-left: .5rem;
    margin-right: .5rem; 
    
}

.description-container-performance div{
    padding: 1rem;
    margin: 2.5rem;
}

.form-div{   
    margin-inline: .2rem;  
    margin-left: 8rem;
    margin-right: 8rem;   
}

footer p{
    font-size: .8rem;
}

}