@media (min-width: 577px) and (max-width: 768px){

    html{
        font-size: 8px;
    }

    .title-container  p{
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .4rem;
    
}

.cover-container h1{
    font-size: 4rem;
    margin: 0 0 0 3rem;
}

.option button{
    font-size: 1.5rem;
    padding: 1rem;
}

  .description-container p {
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 2rem;
    
}
 
.description-container-performance{
    grid-template-columns: repeat(1,1fr);
    font-size: 2rem;  
    margin-left: 7rem;
    margin-right: 7rem; 
}

.form-div{   
    margin-inline: 2rem;  
    margin-left: 8rem;
    margin-right: 8rem;   
}

.form input {
    margin-bottom: 4rem;
    width: 30rem;
    height: 3rem;
    border-radius: .3rem;
    border-style: none;
    text-align: center;
    
}

.form button{
    height:6rem;
    font-weight: 600;
}

.end-document li{
    display: grid;
    grid-column: auto;
    margin-top: 3rem;
    font-size: 2rem;
    
}

footer img {
    width: 3rem;
    font-size: 1rem;
    
    

}

}


    
