@media (min-width:769px) and (max-width:991px){
    
html{
    font-size: 16px;
}

    .title-container  p{
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .4rem;
      
}

h2{
    font-size: 2rem;
}


.cover-container h1{
    font-size: 3rem;
    margin: 0 0 0 2rem;
}

.option button{
    font-size: 1rem;
    padding: 1rem;
}

  .description-container p {
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: 1.5rem;
    
}
 
.description-container-performance{
    grid-template-columns: repeat(1,1fr);
    font-size: 1rem;  
    margin-left: .5rem;
    margin-right: .5rem; 
}

.form-div{   
    margin-inline: .5rem;  
    margin-left: 8rem;
    margin-right: 8rem;   
}

.form input {
    margin-bottom: 2rem;
    width: 20rem;
    height: 2rem;
    border-radius: .3rem;
    border-style: none;
    text-align: center;
    
}

.form button{
    height:3rem;
    font-weight: 600;
}

.end-document li{
    display: grid;
    grid-column: auto;
    margin-top: 1.5rem;
    font-size: 1rem;
    
}

footer img {
    width: 1.5rem;
    font-size: .5rem;
    
    

}

footer p{
    font-size: .7rem;
}
}


    

